<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
   <title>Acamica</title>

   <style type="text/css">
      html { width: 100%; }
      body { margin: 0; padding: 0; }
      a { color: #3498DB; text-decoration: none; }
      table { border-spacing: 0; }
      table td { border-collapse: collapse; padding: 0; border:none; }
      td[class="white"] { background: #FFF; }
      img[class="top_fold"] { max-width: 0px !important; max-height: 0px !important;}
      table[class="table600"] { width: 95%; max-width: 600px; margin: auto; }
      table[class="table550"] { width: 90% !important; max-width: 550px; }
      table[class="table2-2"] { width: 48% !important; }
      img[class="img1"] { width: 100% !important; height: auto !important; } 
      table[class="table1-3"] { width: 100% !important; }
      table[class="table3-1"] { width: 100% !important; }
      table[class="space"] { display: none !important; }
      /* Responsive */
      @media only screen and (max-width: 479px) {
         td[class="logo"] { text-align: center; }
      }
   </style>
</head>
<body>
      <table width="100%"><tbody>
      <tr>
         <td style="background-color:#ECF0F1;">
            <table width="100%" cellpadding="0" cellspacing="0"><tbody>
               <!--Header-->
               <tr>
                  <td height="20"></td>
               </tr>
               <tr>
                  <td>
                     <table class="table600" width="600" cellpadding="0" cellspacing="0"><tbody>
                        <tr>
                           <td class="white">

                              <!--Logo-->

                              <table class="table1-3" width="183" bgcolor="#ffffff" border="0" align="left" cellpadding="0" cellspacing="0">
                                 <tbody>
                                 <tr>
                                    <td height="35"></td>
                                 </tr>
                                 <tr>
                                    <td class="logo" align="left" style="padding: 0 30px;">
                                       <img src="http://sc.acamica.com/img/logo_dark.png" width="116" height="17" alt="logo">
                                    </td>
                                 </tr>
                                 <tr>
                                    <td height="35"></td>
                                 </tr>
                              </tbody></table>

                              <!--End Logo-->

                           </td>
                        </tr>
                     </tbody></table>
                  </td>
               </tr>
            </tbody>
               </table>
               <!--End Header-->

               <!-- Here start the {{ content }} -->
               
               <table width="100%">
                  
                  <!--Header Image-->
                  <tr>
                     <td>
                        <table width="100%" cellspacing="0" cellpadding="0">
                           <tbody><tr>
                              <td>
                                 <table class="table600" width="600" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                       <td class="white">

                                          <!--Edit-->
                                          <img class="img1" src="../img/transaction/header.png" width="600" height="150" alt="header_img">
                                          <!--end Edit-->

                                       </td>
                                    </tr>
                                 </tbody></table>
                              </td>
                           </tr>
                        </tbody></table>
                     </td>
                  </tr>
                  <!--End Header Image-->

                  <!--1:1 Content-->
                  <tr>
                     <td>
                        <table class="table600" width="600" cellpadding="0" cellspacing="0">
                           <tbody>
                           <tr>
                              <td class="white">
                                 <table class="table550" width="550" align="center" cellpadding="0" cellspacing="0">

                                    <tbody>
                                    <tr>
                                       <td height="30"></td>
                                    </tr>
                                    <!--Content-->

                                    <tr>
                                       <td style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#666; line-height:20px;">
                                          
                                          <!--Edit-->
                                          Hola {{customer.first_name}}!
                                          <!--end Edit-->

                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="10"></td>
                                    </tr>
                                    <tr>
                                       <td class="white" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#666; line-height:20px;">
                                          
                                          <!--Edit-->
                                          Te damos la bienvenida al nuevo curso de Desarrollado Web.
                                          <!--end Edit-->

                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="20"></td>
                                    </tr>
                                    <tr>
                                       <td style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#666; line-height:20px;">

                                          <!--Edit-->
                                          A partir de estos momentos puedes acceder a todos los contenidos que tenemos disponibles para que aprendas todo lo relacionado a las nuevas tecnologias web.
                                          <!--end Edit-->

                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="30"></td>
                                    </tr>
                                    <tr>
                                       <td style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#666; line-height:20px;">
                                          
                                          <!--Edit-->
                                          <i>Gonzalo Orsi</i><br>
                                          <i><a href="#">gonza@acamica.com</a></i>
                                          <!--end Edit-->

                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="10"></td>
                                    </tr>

                                       </tbody>
                                    </table>
                              </td>
                           </tr>
                        </tbody></table>
                     </td>
                  </tr>
                  <!--End 1:1 Content-->

                  <!--Actions-->
                  <tr>
                     <td valign="top">
                        <table class="table600" width="600" cellpadding="0" cellspacing="0">
                           <tbody><tr>
                              <td class="white" height="60"></td>
                           </tr>
                           <tr>
                              <td class="white" style="text-align:center;">
                                 <a href="#" style="color: #fff;background-color: #e74c3c;padding: 12px 24px;font-size: 17px;border-radius: 6px;font-family:Helvetica, Arial, sans-serif;font-weight:normal;">Ir al curso</a>
                              </td>
                           </tr>
                           <tr>
                              <td class="white" height="70"></td>
                           </tr>
                        </tbody></table>
                     </td>
                  </tr>
                  <!--End 2:2 Content-->

               </table>
               <!-- end {{ content }} -->



               <!--Footer-->
               <tr>
                  <td>
                     <table width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                           <td style="background: #ECF0F1">
                              <table class="table600" align="center" width="600" cellpadding="0" cellspacing="0"><tbody>
                                 <tr>
                                    <td>
                                       <table class="table550" width="550" align="center" cellpadding="0" cellspacing="0"><tbody>
                                          <tr>
                                             <td height="30"></td>
                                          </tr>
                                          <tr>
                                             <td style="font-family: Helvetica, Arial, sans-serif; font-size:12px; color:#AAA; line-height:22px; text-align:center;">
                                                Contáctanos a <a href="#">info@acamica.com</a> ante cualquier consulta.
                                                .
                                             </td>
                                          </tr>
                                          <tr>
                                             <td height="30"></td>
                                          </tr>
                                       </tbody></table>
                                    </td>
                                 </tr>
                              </tbody></table>
                           </td>
                        </tr>
                        <tr>
                           <td class="white">
                              <table class="table600" align="center" width="600" cellpadding="0" cellspacing="0">
                                 <tbody><tr>
                                    <td>
                                       <table class="table550" width="550" align="center" cellpadding="0" cellspacing="0">
                                          <tbody><tr>
                                             <td height="30"></td>
                                          </tr>

                                          <!--info-->

                                          <tr>
                                             <td style="font-family: Helvetica, Arial, sans-serif; font-size:10px; color:#AAA; line-height:22px; text-align:center;">
                                                ¿No quieres recibir más emails de nosotros? <a class="untracked" href="{% unsubscribe_url %}">Desuscribirse</a><br>
                                                Acamica.com · Costa Rica · Buenos Aires, Ciudad Autónoma de Buenos Aires 1184 · Argentina
                                             </td>
                                          </tr>

                                          <!--End info-->

                                          <tr>
                                             <td height="30"></td>
                                          </tr>
                                       </tbody></table>
                                    </td>
                                 </tr>
                              </tbody></table>
                           </td>
                        </tr>
                     </tbody></table>
                  </td>
               </tr>
            </tbody></table>
         </td>
      </tr>
      <!--End Footer--> </tbody></table>
</body></html>