<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
   <title>Acamica</title>

   <style type="text/css">
      html { width: 100%; }
      body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
      body { margin: 0; padding: 0; }
      table { border-spacing: 0; }
      img { display: block !important; }
      table td { border-collapse: collapse; }
      a { color: #3498DB; text-decoration: none; }
      .hide { max-height: 0px; font-size: 0; display: none; }
      /* Responsive */
      @media only screen and (max-width: 640px) {
         body { width: auto !important; }
         table[class="table600"] { width: 450px !important; text-align: center !important; }
         table[class="table550"] { width: 87% !important; float: none !important; }
         table[class="table2-2"] { width: 47% !important; }
         img[class="img1"] { width: 100% !important; height: auto !important; } 
         table[class="social"] { width: 100px !important; }
         table[class="table3-1"] { width: 64% !important; }
         td[class="clear_pad"] { padding: 0px !important; }
         /*space*/
         table[class="space"] { display: none !important; }
      }
      @media only screen and (max-width: 479px) {
         body { width: auto !important; }
         img[class="top_fold"] { max-width: 0px !important; max-height: 0px !important;}
         table[class="table600"] { width: 290px !important; }
         table[class="table550"] { float: none !important; }
         table[class="table2-2"] { width: 100% !important; text-align: center !important; }
         img[class="img1"] { width: 100% !important; } 
         table[class="table1-3"] { width: 100% !important; }
         table[class="table3-1"] { width: 100% !important; }
         .hide { max-height: 26px !important; font-size: 0px !important; display: block !important; }
         /*space*/
         table[class="space"] { display: none !important; }
      }
   </style>
</head>
<body>
   <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ECF0F1">
         <tbody><tr>
            <td valign="top">
               <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

                  <!--Header Bar-->

                  <tbody><tr>
                     <td valign="top">
                        <table width="100%" height="5" border="0" align="center" cellpadding="0" cellspacing="0">
                           <tbody><tr>
                              <td valign="top">
                                 <table class="table600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">

                                    <!--Link Browser-->

                                    <tbody>

                                    <!--End Link Browser-->

                                    <tr>
                                       <td height="20"></td>
                                    </tr>
                                    <tr>
                                       <td align="left" valign="top">
                                          <table width="600" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="table600">
                                             <tbody><tr>
                                                <td style="padding-left:0px; padding-right:0px;">
                                                   <!--Logo-->

                                                   <table class="table1-3" width="183" bgcolor="#ffffff" border="0" align="left" cellpadding="0" cellspacing="0">
                                                      <tbody>
                                                      <tr>
                                                         <td height="35" align="right" valign="top"></td>
                                                      </tr>
                                                      <tr>
                                                         <td align="center">
                                                            <img src="../img/logo.png" width="116" height="17" alt="logo">
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td height="35" align="right" valign="top"></td>
                                                      </tr>
                                                   </tbody></table>

                                                   <!--End Logo-->

                                                </td>
                                             </tr>
                                          </tbody></table>
                                       </td>
                                    </tr>
                                 </tbody></table>
                              </td>
                           </tr>
                        </tbody></table>
                     </td>
                  </tr>

                  <!--End Header Bar-->

                  <!--Header Image-->

                  <tr>
                     <td valign="top">
                        <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tbody><tr>
                              <td>
                                 <table class="table600" bgcolor="#34495e" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                       <td align="center">
                                          <img class="img1" src="../img/transaction/header.png" width="600" height="150" alt="header_img">
                                       </td>
                                    </tr>
                                 </tbody></table>
                              </td>
                           </tr>
                        </tbody></table>
                     </td>
                  </tr>

                  <!--End Header Image-->
                  <!--1:1 Content-->

                  <tr>
                     <td valign="top">
                        <table bgcolor="#FFFFFF" class="table600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                           <tbody><tr>
                              <td height="30"></td>
                           </tr>
                           <tr>
                              <td valign="top">
                                 <table class="table550" width="550" border="0" align="center" cellpadding="0" cellspacing="0">

                                    <tbody>

                                    <!--Content-->

                                    <tr>
                                       <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#666; line-height:24px;">
                                          Hola Nicolas Brizuela
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="10"></td>
                                    </tr>
                                    <tr>
                                       <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#666; line-height:24px;">
                                          ¡Muchas gracias por tu compra! Nos alegra poder contar contigo y que nos acompañes en nuestro camino por el aprendizaje online interactivo.
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="20"></td>
                                    </tr>
                                    <tr>
                                       <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#666; line-height:24px;">
                                          Datos de tu compra:
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="30"></td>
                                    </tr>

                                    </tbody></table>

                                    <table class="table550" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                                       <tbody><tr>
                                          <td width="150" align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#333; line-height:24px;"><b>Curso</b></td>
                                          <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#333; line-height:24px;">Android Ataca</td>
                                       </tr>
                                       <tr>
                                          <td width="150" align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#333; line-height:24px;"><b>Método de pago</b></td>
                                          <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#333; line-height:24px;">Cupón</td>
                                       </tr>
                                       <tr>
                                          <td width="150" align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#333; line-height:24px;"><b>Monto</b></td>
                                          <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#333; line-height:24px;">USD 9.99</td>
                                       </tr>
                                    </tbody></table>

                                    <table class="table550" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td height="30"></td>
                                          </tr>
                                          <tr>
                                             <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#666; line-height:24px;">
                                                Recuerda que puedes tomar el curso en línea en cualquier momento, desde cualquier lugar. Sin restricciones. ¿Qué esperas?
                                             </td>
                                          </tr>
                                          <tr>
                                             <td height="10"></td>
                                          </tr>

                                       </tbody>
                                    </table>
                              </td>
                           </tr>
                        </tbody></table>
                     </td>
                  </tr>

                  <!--End 1:1 Content-->

                  <!--2:2 Content-->

                  <tr>
                     <td valign="top">
                        <table class="table600" bgcolor="#ffffff" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                           <tbody><tr>
                              <td height="60"></td>
                           </tr>
                           <tr>
                              <td align="center">
                                 <a href="#" style="color: #fff;background-color: #e74c3c;padding: 12px 19px;font-size: 17px;border-radius: 6px;font-family:Helvetica, Arial, sans-serif;font-weight:normal;">Ir al curso</a>
                              </td>
                           </tr>
                           <tr>
                              <td height="70"></td>
                           </tr>
                        </tbody></table>
                     </td>
                  </tr>

                  <!--End 2:2 Content-->

                  <!--Footer-->

                  <tr>
                     <td valign="top">
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                           <tbody>
                           <tr>
                              <td bgcolor="#ECF0F1">
                                 <table class="table600" bgcolor="#ECF0F1" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                       <td>
                                          <table class="table550" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                                             <tbody><tr>
                                                <td align="center" valign="top" height="30"></td>
                                             </tr>

                                             <!--info-->

                                             <tr>
                                                <td align="center" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:12px; color:#AAA; line-height:22px;">
                                                   Si no has efectuado esta compra, por favor revisa tu cuenta en Acámica para validar la veracidad de la misma. Contáctanos a <a href="#">info@acamica.com</a> ante cualquier consulta.
                                                   .
                                                </td>
                                             </tr>

                                             <!--End info-->

                                             <tr>
                                                <td align="center" valign="top" height="30"></td>
                                             </tr>
                                          </tbody></table>
                                       </td>
                                    </tr>
                                 </tbody></table>
                              </td>
                           </tr>
                           <tr>
                              <td bgcolor="#FFF">
                                 <table class="table600" bgcolor="#FFF" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                       <td>
                                          <table class="table550" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                                             <tbody><tr>
                                                <td align="center" valign="top" height="30"></td>
                                             </tr>

                                             <!--info-->

                                             <tr>
                                                <td align="center" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:10px; color:#AAA; line-height:22px;">
                                                   ¿No quieres recibir más emails de nosotros? <a class="untracked" href="{% unsubscribe_url %}">Desuscribirse</a><br>
                                                   Acamica.com · Costa Rica · Buenos Aires, Ciudad Autónoma de Buenos Aires 1184 · Argentina
                                                </td>
                                             </tr>

                                             <!--End info-->

                                             <tr>
                                                <td align="center" valign="top" height="30"></td>
                                             </tr>
                                          </tbody></table>
                                       </td>
                                    </tr>
                                 </tbody></table>
                              </td>
                           </tr>
                        </tbody></table>
                     </td>
                  </tr>
               </tbody></table>
            </td>
         </tr>
         <!--End Footer--> </tbody></table>
</body></html>